/* STATIC ELEMENTS START */
main{
    max-width: 100em;
    margin: 0 auto;
    padding: 0 calc(8px + 1.5625vw);
}

h2,
h3,
h4 {
    font-family: neue-kabel, sans-serif;
    font-weight: 800;
    font-style: normal;
}

h4 {
    font-size: 1.1rem;
    margin: 0;
    padding: 0 0 .5rem 0;
}

p{
    font-family: objektiv-mk3, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    margin: 0 0 1.5rem 0;
}

h1 {
    font-family: neue-kabel, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #d13269;
    font-size: clamp(2.5rem, 5.5vw, 5.5rem);
    text-transform: uppercase;
    line-height: clamp(2.1rem, 4.8vw, 4.75rem);
    margin: 0;
}

h2{
    font-size: clamp(1.75rem, 4vw, 2.5rem);
    margin: 0;
    text-transform: uppercase;
}

h3{
    font-size: clamp(1.5rem, 4vw, 2rem);
    text-transform: uppercase;
}

small{
    color: white;
    font-family: objektiv-mk3, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .68rem;
}

a {
    text-decoration: underline;
}

/* STATIC ELEMENTS END */

/* Almost all of the content past this line is utilized for one thing. To make the webpage as responsive as possible. This meaning that the webpage can be viewed on almost every screen size and 
still appear cohesive across them. I will highlight a few lines of code that I believe are interesting and where I learned something new*/

.galleryinfo{
    display: flex;
    justify-content: center;
}
.info {
	display: flex;
	align-items:flex-start ;
	justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 0 calc(8px + 1.5625vw);
}
	
	.info-item {
		flex: 1 0 0rem;
		min-width: 9em;
	}

html, body {
	margin: 0;
	padding: 0;
}

    /* TOP NAV START */
    a {
        text-decoration: none;
    }
    
    
    
    header{
        background-color: black;
    }
    
    #primary-nav {
        margin: 0 auto;
        padding: 0 calc(8px + 1.5625vw);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        max-width: 100em;
    }
    #primary-nav ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-content: center;
        justify-content: end;
    }
    @media (max-width: 60em) {
        #primary-nav ul li{
            width: 100%;
            padding-bottom: 1.5em;
       }
    }
    #primary-nav ul li a {
        color: #fff;
        display: block;
        transition: 0.4s ease-in;
        font-family: 'Roboto', sans-serif;
    }
    #primary-nav ul li a:active {
        border: 2px solid lime;
    }
    .logo {
        width: 158.75px;
        margin: 0;
    }
    .main-nav {
        display: flex;
    }
    #hamburger {
        display: block;
        background: transparent;
        border: none;
    }
    #hamburger #expanded {
        display: none;
    }
    
    .hamburger {
        width: 24px;
        height: 24px;
    }
    #hamburger span {
        display: block;
        position: relative;
        top: 15px;
    }
    @media (min-width: 60em) {
        #hamburger {
            display: none;
       }
    }
    
    #hamburger[aria-expanded='true'] span {
        position: static;
    }
    #hamburger[aria-expanded='true'] #expanded {
        display: block;
    }
    #hamburger[aria-expanded="true"] + .main-nav {
        display: block;
    }
    .js-enabled .main-nav {
        display: none;
    }
    
    @media (min-width: 60em) {
        .js-enabled .main-nav {
            display: block;
       }
    }





      /* ABOUT SECTION START */
      
ul{
    padding: 0;
    list-style-type: none;
    line-height: 1.6;
    font-size: 1rem;
    margin: 0;
    font-family: objektiv-mk3, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: .95rem;
}

li{
    margin-bottom: .95rem;
}

      /* ABOUT SECTION END */



      /* FOOTER SECTION START */

footer {
    background-color: black;
    padding: 0 calc(8px + 1.5625vw);
}

#bot-footer{
    margin: 0 auto;
    max-width: 100em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem 1.75rem;
    justify-content: space-between;
/* The line below allows for the space between the tops and bottoms of the content to shrink and expand as the webpage changes sizes. 
    This is important if a window is short and wide such as a horizontal phone screen display.*/
    padding-block: min(4vh, 9rem)
}

.social{
    display: flex;
    width: 15em;
    justify-content: space-between;
}

.social-icon{
    height: 1.5em;
    width: 1.5em;
}

#privacy{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .3rem 0;
}

.privacy-text{
    margin-right: 1.75rem;
}

      /* FOOTER SECTION END */



      /* FOOTER INFO START */

.gallery-text, .gallery-link{
    color: white;
    font-size: 1rem;
    font-family: objektiv-mk3, sans-serif;
    font-weight: 400;
    font-style: normal;
}
    
.gallery-head{
    color: white;
}

.footer-info{
    margin: 0 auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 0 calc(8px + 1.5625vw);
    justify-content: space-between;
    width: 100%;
    max-width: 100em;
    border-style: none none solid none;
    border-color: white;
    border-width: 1px;
}

.footer-text{
    max-width: 360px;
}

      /* FOOTER INFO END */



      /* IMAGES SECTION START */

.artinfo{
    margin: 0 auto;
}   

.artwork-image{
    width: 100%;
}

.artwork-text{
    display: flex;
    align-items:center;

}

.art {
	display: flex;
	justify-content: space-between;
    align-items: flex-start ;
    align-content: center;
	flex-wrap: wrap;
    gap: 0rem .75em;
}
	
.art-item {
	min-width: 9em;
    width: 48%;
    max-width: 23.59em;
}

.artwork-num{
    font-size: 2.4rem;
    padding-right: .5rem;
}

      /* IMAGES SECTION STOP */
    

      /* DESCRIPTIVE CONTENT START */

.descr{
    display: flex;
    flex-wrap: wrap;
    gap: 0 .75em;
    border-style: none none solid none;
    border-width: 1px;
    padding-block-end: min(7.5vh, 6rem);
}

.descr-head{
    padding-block-end: min(7.5vh, 3rem);
}
.descr-date{
    padding-block-end: min(7.5vh, 2.75rem);
}


.hero{
    width: 100%;
    max-width: 49em;
}

.more-nav{
    display: flex;
    width: 100%;
    margin: 0 0 1.75rem 0;
    padding: 0;
    border-style: none none solid none;
    border-width: 1px;
}

.more-item{
    margin-right: 1.75rem
}

      /* DESCRIPTIVE CONTENT END */

      /* MEDIA QUERY CONTENT START */

/* The content below are media queries. They allow you to alter content and elements only within certain parameters. In this case it's screen width which 
    is most often used when choosing to target a certain screen size. */
@media (min-width: 40em){
    .art-item {
        width: 32%;
	}

    p{
        font-size: 1.25rem;
    }

    .hero{
        order: 2;
        width: 48%;
        height: 48%;
        max-width: 49em;
    }
    .descr-head{
        order: 1;
    }
    .descr-date{
        order: 1;
    }
    .more-nav{
        order: 1;
    }
    .descr-text{
        width: 50%;
        order: 3;
    }

    .descr-head{
        padding-block: min(7.5vh, 3rem);
    }
}

@media (min-width: 60em){
    .art-item {
        width: 24%;
	}

    .logo{
        width: 187.63px;
    }
}
      /* MEDIA QUERY CONTENT END */